<h3>Корзина</h3>

<p>
  <a routerLink="/shipping">Доставка</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label>ФИО</label>
    <input type="text" formControlName="name" />
  </div>

  <div>
    <label>Адрес</label>
    <input type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Оформить заказ</button>
</form>
